@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
/* background-image:url(background.css); */
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
}

.container{     
height: auto;
align-content: center;
padding-top: 30px;

}

.card{
height: 250px;
margin-top: 0;
margin-bottom: 0;
width: 400px;
background-color: rgba(0,0,0,0.5) !important;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #FFC312;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
padding-top: 20px;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #FFC312;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #FFC312;
width: 100px;
}



.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}
a {
    color:black;
}
.text-center {
    background-color: #3ca9c7;
    width:100%;
    border-radius: 10px;
    
}
/* footer {
    margin-right: 0;
    margin-left: 0;
} */
@media (max-width: 575.98px) {
    .card {
        margin-top: 1rem;
    }
}

@media (min-width: 576px) {
    .card {
        margin-top: 2rem;
    }
}

@media (min-width: 768px) {
    .card {
        margin-top: 4rem;
    }
}

@media (min-width: 992px) {
    .card {
        margin-top: 6rem;
    }
}

@media (min-width: 1200px) {
    .card {
        margin-top: 8rem;
    }
}
